body {
  width: 100vw;
  height: 100vh;
  background: rgb(252, 241, 241);
  background: radial-gradient(
    circle,
    rgba(252, 241, 241, 1) 0%,
    rgba(208, 184, 172, 1) 100%
  );
}

.main {
  width: 100vw;
}

.changePage {
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media (min-width: 700px) {
  body {
    width: 100%;
    height: 100%;
  }
  .images {
    align-items: center;
    width: 80vw;
    /* margin: 0 5vw; */
  }

  img {
    width: 300px;
  }
}
